@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #265B88;
}

.subheader {
    background-color: #AECBDC;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.form-check-input {
    width: 3em !important;
    height: 2em;
}

.form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
    border: none;
}

.botao-dark {
    fill: #B9B9B9;
}

.titulo-dark {
    fill: #fff;
}

.titulo-dark rect {
    fill: #838383;
    stroke: white;
}

.conteudo {
    height: calc(100vh - 200px);
    overflow: auto;
    position: fixed;
    z-index: 0;
    width: 100%;
    bottom: 0;
    left: 0;
}